* {
  margin: 0;
  font-family: "Jura", sans-serif;
  padding: 0;
}

body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: radial-gradient(#414345, #232526);
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  transition: 0.5s;
}

/* ! Top Menu !  */

.🍔 {
  cursor: pointer;
  height: 2rem;
  margin: 0.55rem;
  width: 1.9rem;
}

.🍔 div {
  background-color: gray;
  height: 3px;
  margin: 6px 0;
  position: relative;
  transition: 0.4s;
}

.🍔:hover div {
  background-color: white;
}

.🍔 div:nth-child(1) {
  width: 50%;
}

.🍔 div:nth-child(2) {
  width: 100%;
}

.🍔-expanded div {
  filter: brightness(150%);
}

.🍔-expanded div:nth-child(1) {
  top: 4px;
  transform: rotate(45deg);
  width: 100%;

}

.🍔-expanded div:nth-child(2) {
  bottom: 5px;
  transform: rotate(-45deg);
}

.shuffle {
  cursor: pointer;
  transition: .2s;
}

.shuffle img {
  filter: invert(1);
  margin: 0.7rem;
  transition: .4s;
  width: 30px;
}

.shuffle:hover img {
  filter: brightness(200%);
  transform: scaleY(-1);
}

/* ! Project Menu ! */

.project-menu {
  background: radial-gradient(#414345f1, #2e3031f5);
  border: 1px solid rgba(255, 255, 255, 0.459);
  border-radius: 20px;
  height: 40rem;
  left: -100%;
  margin: 3rem auto 0;
  min-width: 20rem;
  overflow: scroll;
  position: absolute;
  transition: .7s;
  z-index: 10;
}

.project-menu h1 {
  color: white;
  text-align: center;
}

.project-menu h1:nth-child(1) {
  margin-top: 2rem;
}

.saved-projects {
  margin-top: 1rem;
}

.p-m-active {
  left: 9.5% !important;
}

.project-label {
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;
  text-align: center;
  transition: .2s;
}

.project-label:hover {
  text-decoration: underline;
}

/* ! Project Header ! */

.save-colors {
  position: absolute;
}

.current-project {
  color: white;
  margin: 5rem 0 -5rem;
  text-align: center;
}

/* ! Magic Button ! */

.magic-button {
  background: radial-gradient(#414345, #2e3031);
  border: 9px solid white;
  height: 9.6rem;
  margin: .6rem;
  transition: .3s;
  width: 9.6rem;
  z-index: 9;
}

.magic-button:hover {
  box-shadow: 0px 0px 25px rgb(255, 255, 255);
}

.magic-button h1 {
  color: rgb(243, 243, 243);
  font-size: 2rem;
  margin-top: 3.6rem;
  text-transform: uppercase;
  text-align: center;
}

.color-block {
  cursor: pointer;
  height: 12rem;
  margin: 13rem auto 0;
  width: 12rem;
}

.color-block section {
  border-radius: 50%;
  position: absolute;
}

.color {
  border: 5px solid transparent;
  box-sizing: border-box;
  height: 11rem;
  margin: 0.5rem;
  transition: .4s;
  width: 11rem;
}

.locked {
  border: 5px solid white;
  transition: border 0s !important;
}

.color-locked {
  box-shadow: 0px 0px 25px rgb(255, 255, 255);
}

.open~.color {
  animation: none !important;
  border-radius: 50% !important;
  margin-left: 2rem;
  height: 8rem;
  transform: scale(.6);
  width: 8rem;
}

.open~.color:hover {
  border: 5px solid rgb(255, 255, 255);
  transition: .2s !important;
}

.open~.red {
  margin-top: -5.5rem;
  transition-delay: .1s
}

.open~.purple {
  margin-left: 9.4rem;
  margin-top: .8rem;
  transition-delay: .3s
}

.open~.yellow {
  margin-top: 8.1rem;
  margin-left: 6.5rem;
  transition-delay: .5s
}

.open~.green {
  margin-top: 8rem;
  margin-left: -2.8rem;
  transition-delay: .7s
}

.open~.blue {
  margin-left: -5.2rem;
  margin-top: .6rem;
  transition-delay: .9s
}

.color:nth-child(2) {
  animation: rotate 12.5s linear infinite;
  animation-direction: reverse;
  background-color: rgb(255, 84, 84);
  border-radius: 45% 50% 50% 50%;
}

.color:nth-child(3) {
  animation: rotate 10s linear infinite;
  background-color: rgb(82, 255, 29);
  border-radius: 50% 40% 50% 50%;
}

.color:nth-child(4) {
  animation: rotate 8.5s linear infinite;
  background-color: rgb(68, 180, 255);
  border-radius: 50% 50% 40% 50%;
}

.color:nth-child(5) {
  animation: rotate 11s linear infinite;
  background-color: rgb(252, 255, 74);
  border-radius: 50% 50% 50% 40%;
}

.color:nth-child(6) {
  animation: rotate 16s linear infinite;
  animation-direction: reverse;
  background-color: rgb(218, 95, 255);
  border-radius: 50% 40% 50% 50%;
}

/* ! Save Block ! */

.d-m-btn {
  cursor: pointer;
  display: block;
  height: 1rem;
  margin: .5rem auto 0;
  transition: .4s;
  width: 1rem;
}

.d-m-btn-active,
.d-m-btn:hover {
  filter: brightness(150%);
}

.d-m-btn-active {
  transform: scaleX(-1) scaleY(-1) scale(.9);
}

.save-block {
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.459);
  background: radial-gradient(#414345, #2e3031);
  height: 15rem;
  margin: 14.5rem auto 0;
  transition: .6s;
  width: 19rem;
}

.save-block p {
  color: gray;
  text-align: center;
  transition: .3s;
}

.save-block-open {
  margin: 3rem auto 0 auto !important;
}

.save-block-open p {
  color: white;
}

.save-block input {
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  color: white;
  display: block;
  font-size: 1rem;
  margin: 1rem auto 0;
  padding: 1rem 1rem 0 0;
  outline: none;
  text-transform: uppercase;
}

.save-block button {
  border-radius: 5px;
  border: 1px solid gray;
  background-color: gray;
  color: white;
  display: block;
  margin: .5rem auto 0;
  outline: none;
  padding: .5rem 1rem;
  transition: .3s;
}

.save-block button:disabled {
  background-color: transparent;
  border: 1px solid transparent;
  ;
  color: darkgray;
  cursor: default;
}

.save-block button:hover {
  color: darkgray;
  border: 1px solid white;
  cursor: pointer;
  filter: brightness(150%);
}

/* ! info-button ! */

.ℹ️ {
  bottom: 1rem;
  position: fixed;
  right: 1rem;
  transition: .4s;
  width: 1.5rem;
}

.ℹ️:hover {
  cursor: pointer;
  filter: brightness(180%);
}

/* ! info-overlay ! */

.info-overlay {
  color: lightgray;
  box-sizing: border-box;
  left: 0;
  opacity: 0;
  top: 0;
  transition: .4s;
}

.info-overlay-shown {
  opacity: 1;
}

.v {
  left: .5rem;
  position: fixed;
  top: 3rem;
}

.s {
  right: .5rem;
  position: fixed;
  top: 3rem;
}

.c {
  margin-top: 13rem;
  text-align: center;
}

.proj-palette-circles {
  display: flex;
  justify-content: space-around;
}

.proj-cir {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.proj-cir:hover {
  cursor: pointer;
  border: 1px solid white;
}

/* !animations */

@keyframes rotate {
  100% {
    transform: rotate(1080deg);
  }
}