* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
  height: 100vh;
}

header {
  background-color: rgb(243, 243, 243);
  box-shadow: 2px 2px 5px rgb(223, 223, 223);
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.🍔 {
  margin: 0.55rem;
  width: 2.2rem;
  height: 1.1rem;
  cursor: pointer;
}

.🍔 div {
  background-color: black;
  height: 3px;
  margin: 6px 0;
  transition: 0.2s;
  width: 100%;
}

.🍔:hover div {
  box-shadow: 2px 2px 5px rgba(82, 82, 82, 0.473);
}

.title-block {
  text-align: center;
  margin-top: 0.2rem;
}

.title-block h1 {
  font-family: "Lobster Two", cursive;
  font-size: 6rem;
  color: rgb(39, 39, 39);
}

.title-block span {
  font-size: 10rem;
}

.title-block h3 {
  font-weight: 100;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 0.3rem;
}

.refresh {
  transition: 0.5s;
}

.refresh img {
  width: 25px;
  margin: 0.7rem;
  cursor: pointer;
  transition: 0.1s;
}

.refresh img:hover {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(1080deg);
  }
}

.color-block {
  max-width: 25rem;
  margin: 0 auto;
}

.color-block section {
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgb(182, 182, 182);
  cursor: pointer;
  height: 5rem;
  margin: 1rem;
  width: 92%;
  transition: 0.5s;
}

.color-block section:hover {
  box-shadow: 2px 2px 10px rgb(97, 97, 97);
}
